<!DOCTYPE html>
<html>
    <head>
        <title>
            Menu Page
        </title>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            {% for item in menu %}
            <li>{{item.name}} - ${{item.price}}<br>{{item.description}}
                {% if item in count %}
                <p>Ordered quantity : {{count[item]}}</p>
                {% endif %}
            <form action="/add_to_order" method="post">
                <input type="hidden" name="item_name" value="{{item.name}}">
                <button type="submit">Add to order</button>
                
            </form>
            <form action="/remove_from_order" method="post">
                <input type="hidden" name="remove_item" value="{{item.name}}">
                <button type="submit">Remove</button>
            </form>
            
            </li>
            {% endfor %}
        </ul>
        <form action="/order" method="get">
            <button type="submit">Confrim order</button>
        </form>
        <a href="/order">View my order</a>
    </body>
</html>